.single_page_heading {
  text-align: center;
  background: var(--main-bg-color);
  /* margin-top: 8.5rem; */
  margin-bottom: 5rem;
  padding: 5rem;
}

.single_page_heading h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.single_page_heading p {
  color: #fff;
  padding-top: .7rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.single_page_heading p a {
  color: #fff;
  text-decoration: none;
}

.single_page_heading p a:hover {
  /* color: #db2d2e; */
  text-decoration: underline;
}